@model MvcMovie.Models.Database.Movie

@{
    ViewData["Title"] = "Edit";
}

<h4>Details</h4>

<div class='form-group'>
    @Html.LabelFor(model => model.Title)
    @Html.DisplayFor(model => model.Title)
</div>

<div class='form-group'>
    @Html.LabelFor(model => model.ReleaseDate)
    @Html.DisplayFor(model => model.ReleaseDate)
</div>

<div class='form-group'>
    @Html.LabelFor(model => model.Genre)
    @Html.DisplayFor(model => model.Genre)
</div>

<div class='form-group'>
    @Html.LabelFor(model => model.Price)
    @Html.DisplayFor(model => model.Price)
</div>

<div class='form-group'>
    @Html.ActionLink("Back", "Index", "Movies")
</div>
